<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
    <title>Welcome</title>
</head>
<body>
<main class="container">
    <section class="row">
        <H1 class="display-4"> Heart Disease Risk Prediction using Machine Learning Algorithms </H1>

        <div class="accordion" id="accordionFeat">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                        Learn more about our project
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse"
                     aria-labelledby="panelsStayOpen-headingOne" data-bs-parent="#accordionFeat">
                    <div class="accordion-body">
                        <p>
                        <h1> Predictive Modeling for Cardiovascular Diseases</h1>

                        Cardiovascular Diseases (CVD) remain a leading cause of morbidity and mortality worldwide.
                        Common problems associated with CVD include coronary artery disease, heart failure, and various
                        forms of vascular diseases. This project aims to leverage data science techniques to address key
                        challenges in the identification and prediction of cardiovascular diseases.

                        <h3> Project Goals: </h3>
                        Create a machine learning model capable of assessing an individual's risk of cardiovascular
                        diseases based on their responses to a standardized set of questions which will enable early
                        Identification of individuals at higher risk, facilitating timely preventive measures and
                        interventions, that eventually will provide individuals with personalized insights into
                        lifestyle modifications and healthcare practices that can positively impact cardiovascular
                        health.

                        <ins>Known Facts about the Problem:</ins>
                        Established risk factors include hypertension, high cholesterol, smoking, diabetes, and obesity.
                        Family history and genetic predisposition contribute significantly to CVD risk.
                        Lifestyle choices, such as diet and physical activity, play a crucial role in cardiovascular
                        health.

                        <ins>Defining the Outcome:</ins>
                        The primary outcome is to predict the risk level of an individual developing cardiovascular
                        diseases within a specified timeframe.
                        Outcome metrics include a risk score, categorizing individuals into low, moderate, or high-risk
                        groups.

                        <ins>Influences on the Outcome:</ins>
                        Traditional risk factors, including blood pressure, cholesterol levels, and blood glucose.
                        Lifestyle factors, such as dietary habits, physical activity, and smoking.
                        Genetic markers and family history.

                        <ins>Potential New Knowledge:</ins>
                        Integration of advanced machine learning models for more accurate risk prediction.
                        Exploration of novel biomarkers or risk factors that may not have been extensively studied in
                        traditional models.
                        Development of a comprehensive predictive model that considers both individual and collective
                        influences on CVD risk.

                        <h3> Stages of the Project: </h3>
                        1. Data Collection and Exploration
                        Gather datasets containing medical records, lifestyle information, and genetic data.
                        Conduct exploratory data analysis to identify patterns, outliers, and potential predictors.

                        2. Model Development
                        Implement machine learning algorithms for predictive modeling.
                        Train the model using relevant features and evaluate its performance against historical data.

                        3. Validation and Optimization
                        Validate the model on independent datasets to assess generalizability.
                        Optimize the model parameters for improved accuracy and reliability.

                        4. Interpretation and Insights
                        Interpret the model outcomes to understand the relative importance of different risk factors.
                        Extract actionable insights for individuals and healthcare professionals.

                        <h3>
                            <ins>Conclusion:</ins>
                        </h3>
                        This project seeks to enhance our understanding of cardiovascular disease risk factors and
                        improve predictive models for early identification. By integrating traditional risk factors with
                        advanced data science techniques, the goal is to provide more accurate and personalized risk
                        assessments, enabling proactive intervention and better management of cardiovascular health.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="disclaimer">
            <form action="questions" method="POST">
                <div>
                    <h3 class="display-6">Medical Disclaimer</h3>
                    <p>
                        The contents of this website are not intended to diagnose or treat any disease, or offer
                        personal
                        medical
                        advice. You should seek the advice of your physician or other qualified health provider with any
                        questions
                        you may have regarding a medical condition. Never disregard professional medical advice or delay
                        in
                        seeking
                        it because of something you have read on this website.
                    </p>
                </div>
                <div class="space-between">
                    <input name="agree" type="submit" value="Agree and continue"
                           class="btn btn-outline-success btn-lg ">
                    <input name="disagree" type="submit" value="Disagree" class="btn btn-outline-danger btn-lg">
                </div>
            </form>
        </div>
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>