{% extends 'question.html' %}

{% block content%}
<section class="progress" style="height: 2em;">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
         style="width: {{progress_bar}}%" aria-valuenow="{{progress_bar}}" aria-valuemin="0" aria-valuemax="100">
        {{progress_bar}} {% if progress_bar != 0 %} % {%endif%}
    </div>
</section>
<section>
    <form action="answer" method="POST" class="needs-validation" novalidate>
        <section>
            <h3 class="display-5">Health Conditions:</h3>
            <h6 class="display-6"> Has a doctor, nurse, or other health professional ever told you that you had any of
                the following? For each, tell me Yes or No. </h6>
            <section class="container">
                <section class="row">
                    <section class="col form-check form-check-inline">
                        <p>
                            (Ever told) (you had) a depressive disorder (including depression, major depression,
                            dysthymia,
                            or minor depression)?
                        </p>
                    </section>
                    <section class="col">
                        <div class="form-check form-check-inline space-between-radio">
                            <label for="depressive_disorder_yes" class="form-check-label">Yes</label>
                            <input type="radio" class="form-check-input" id="depressive_disorder_yes"
                                   name="depressive_disorder" value="yes"
                                   aria-label="yes" required>
                        </div>
                        <div class="form-check form-check-inline">
                            <label for="depressive_disorder_no" class="form-check-label">No</label>
                            <input type="radio" class="form-check-input" id="depressive_disorder_no"
                                   name="depressive_disorder" value="no"
                                   aria-label="no" required>
                        </div>
                    </section>
                </section>
                <section class="row">
                    <section class="col form-check form-check-inline">
                        <p>
                            (Ever told) (you had) diabetes?
                        </p>
                    </section>
                    <section class="col">
                        <div class="form-check form-check-inline space-between-radio">
                            <label for="diabetes_yes" class="form-check-label">Yes</label>
                            <input type="radio" class="form-check-input" id="diabetes_yes" name="diabetes"
                                   value="yes"
                                   aria-label="yes" required>
                        </div>
                        <div class="form-check form-check-inline">
                            <label for="diabetes_no" class="form-check-label">No</label>
                            <input type="radio" class="form-check-input" id="diabetes_no" name="diabetes" value="no"
                                   aria-label="no" required>
                        </div>
                    </section>
                </section>
                <section class="row">
                    <section class="col form-check form-check-inline">
                        <p>
                            (Ever told) (you had) some form of arthritis, rheumatoid arthritis, gout, lupus, or
                            fibromyalgia?
                        </p>
                    </section>
                    <section class="col">
                        <div class="form-check form-check-inline space-between-radio">
                            <label for="arthritis_yes" class="form-check-label">Yes</label>
                            <input type="radio" class="form-check-input" id="arthritis_yes" name="arthritis"
                                   value="yes"
                                   aria-label="yes" required>
                        </div>
                        <div class="form-check form-check-inline">
                            <label for="arthritis_no" class="form-check-label">No</label>
                            <input type="radio" class="form-check-input" id="arthritis_no" name="arthritis"
                                   value="no"
                                   aria-label="no" required>
                        </div>
                    </section>
                </section>
                <section class="row">
                    <section class="col form-check form-check-inline">
                        <p>
                            (Ever told) (you had) skin cancer?
                        </p>
                    </section>
                    <section class="col">
                        <div class="form-check form-check-inline space-between-radio">
                            <label for="skin_cancer_yes" class="form-check-label">Yes</label>
                            <input type="radio" class="form-check-input" id="skin_cancer_yes" name="skin_cancer"
                                   value="yes"
                                   aria-label="yes" required>
                        </div>
                        <div class="form-check form-check-inline">
                            <label for="skin_cancer_no" class="form-check-label">No</label>
                            <input type="radio" class="form-check-input" id="skin_cancer_no" name="skin_cancer"
                                   value="no"
                                   aria-label="no" required>
                        </div>
                    </section>
                </section>
                <section class="row">
                    <section class="col form-check form-check-inline">
                        <p>
                            (Ever told) (you had) any other types of cancer?
                        </p>
                    </section>
                    <section class="col">
                        <div class="form-check form-check-inline space-between-radio">
                            <label for="other_cancer_yes" class="form-check-label">Yes</label>
                            <input type="radio" class="form-check-input" id="other_cancer_yes" name="other_cancer"
                                   value="yes"
                                   aria-label="yes" required>
                        </div>
                        <div class="form-check form-check-inline">
                            <label for="other_cancer_no" class="form-check-label">No</label>
                            <input type="radio" class="form-check-input" id="other_cancer_no" name="other_cancer"
                                   value="no"
                                   aria-label="no" required>
                        </div>
                    </section>
                </section>
            </section>
            <input type="hidden" name="question_number" value="{{question_number}}">
            <div class="space-between">
                <input name="back" type="submit" value="Back" class="btn btn-outline-danger btn-lg width-submit">
                <input name="next" type="submit" value="Next" class="btn btn-outline-success btn-lg width-submit">
            </div>
        </section>
    </form>
</section>
{% endblock %}